@import 'modern-normalize';
@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
	body {
		font-family: 'Inter', sans-serif;
		color: #31393c;
		background-color: #ffffff;
	}

	html,
	body {
		height: 100%;
		width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	ul,
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		cursor: pointer;
		padding: 0;
		line-height: 0;
	}

	img {
		display: block;
		max-width: 100%;
		object-fit: contain;
	}
}

@layer utilities {
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}
